.Nav {
    display: flex;
    width: 95%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 0.5rem;
    background-color: rgba(7, 143, 255, 0.253);
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.Nav-button {
    width: 10rem;
    border-radius: 1rem;
    border: 5px solid var(--light-blue);
    background-color: var(--light-blue);
    font-size: large;
    color: rgba(75, 28, 247, 0.588);
    font-weight: bolder;
    cursor: pointer;
}
.Nav-button:hover {
    box-shadow: 0rem 0rem 1rem 0.5rem var(--light-blue);
    color: rgb(255, 255, 255);
    transition: color 1.5s ease;
    -webkit-transition: color 1.5s ease;
    -moz-transition: color 1.5s ease;
    -ms-transition: color 1.5s ease;
    -o-transition: color 1.5s ease;
}
.burguer-menu {
    display: none;
    height: 3em;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2000;
}
.burguer-item {
    width: 4em;
    height: 20%;
    background-color: var(--light-blue);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.burguer-item.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.75em, 1.15em);
    transition: ease-out 0.5s;
    -webkit-transform: rotate(45deg) translate(0.75em, 1.15em);
    -moz-transform: rotate(45deg) translate(0.75em, 1.15em);
    -ms-transform: rotate(45deg) translate(0.75em, 1.15em);
    -o-transform: rotate(45deg) translate(0.75em, 1.15em);
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -ms-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
}
.burguer-item.clicked:nth-child(2) {
    opacity: 0;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -ms-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
}
.burguer-item.clicked:nth-child(3) {
    transform: rotate(134deg) translate(-0.6em, 1em);
    transition: ease-out 0.5s;
    -webkit-transform: rotate(134deg) translate(-0.6em, 1em);
    -moz-transform: rotate(134deg) translate(-0.6em, 1em);
    -ms-transform: rotate(134deg) translate(-0.6em, 1em);
    -o-transform: rotate(134deg) translate(-0.6em, 1em);
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -ms-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
}
.burguer-item.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    -webkit-transform: rotate(0) translate(0);
    -moz-transform: rotate(0) translate(0);
    -ms-transform: rotate(0) translate(0);
    -o-transform: rotate(0) translate(0);
    -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    -moz-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    -ms-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    -o-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.burguer-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: rgb(20, 57, 97);
    width: 100%;
    height: 100vh;
    transition: background-color ease 2s;
    -webkit-transition: background-color ease 2s;
    -moz-transition: background-color ease 2s;
    -ms-transition: background-color ease 2s;
    -o-transition: background-color ease 2s;
}
.disabled {
    display: none;
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
    -ms-transition: all ease 2s;
    -o-transition: all ease 2s;
}
.burguer-nav a {
    width: 100%;
}
.burguer-nav .Nav-button {
    width: 80%;
    padding: 1rem;
    font-size: 1.5rem;
}
.burguer-nav .container-search{
    width: 100%;
}

@media (max-width: 1300px) {
    .Nav {
        gap: 1rem 0;
    }
    .Nav .Nav-button,.Nav .container-search {
        display: none
    }
    .Nav .Nav-button-home {
        display: block;
        position: relative;
        z-index: 2000;
    }
    .Nav .burguer-menu {
        display: flex;
    }
}