:root {
  --light-blue: rgb(105, 183, 219);
}

* {
  text-decoration: none;
}

.Card {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1.6fr 0.4fr;
  grid-template-rows: 0.4fr 1.6fr 20%;
  gap: 3px 2px;
  grid-template-areas:
    "favorite button-close"
    "card-name card-name"
    "text text";
  position: relative;
  width: 200px;
  height: 50vh;
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 20px;
  border: 0.2rem solid var(--light-blue);
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 0.9rem var(--light-blue);
}
.card-link {
  grid-area: card-name;
  justify-self: center;
  align-self: end;
}
.Card-name {
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: rgb(105 183 219 / 67%);
  color: rgb(12, 39, 63);
  border-radius: 2rem;
  font-size: 18px;
  padding: 0.5rem;
  text-decoration: none;
}

.Card-name:active {
  color: rgb(185, 241, 239);
}

.button-close {
  grid-area: button-close;
  justify-self: end;
  align-self: start;
  background-color: rgb(243, 110, 110);
  color: rgb(15, 45, 49);
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
}

.button-close:hover {
  background-color: rgb(221, 23, 23);
  cursor: pointer;
  color: blanchedalmond;
  transition: background-color, color 0.4s ease-in-out;
  -webkit-transition: background-color, color 0.4s ease-in-out;
  -moz-transition: background-color, color 0.4s ease-in-out;
  -ms-transition: background-color, color 0.4s ease-in-out;
  -o-transition: background-color, color 0.4s ease-in-out;
}

.image-character {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
  z-index: -1;
  -webkit-border-top-left-radius: 2rem;
  -webkit-border-top-right-radius: 2rem;
  -moz-border-radius-topleft: 2rem;
  -moz-border-radius-topright: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.container-text {
  grid-area: text;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.5rem;
  align-content: center;
  color: var(--light-blue);
  font-size: 0.45rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(107 190 228 / 21%);
  border-radius: 0 0 2rem 2rem;
}

.button-favorite {
  grid-area: favorite;
  align-self: center;
  justify-self: start;
  width: max-content;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.button-favorite-favorite {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transition: transform 0.2s ease-in-out;
}
